{% extends 'blog/base.html' %}

{% block title%}
    Password Recovering
{% endblock %}

{% block content %}
    <h1 class="mb-3">The email has been sent successfully</h1>
    <p>Check your email.</p>
{% endblock%}

{% block aside_block%}
<h4>Интересные статьи</h4>


    <img src="https://itproger.com/img/sertificate/sertificate_3000.svg" alt="картинка"
         class="img-thumbnail mt-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem consequuntur dolore
        doloribus facilis impedit in iste iusto labore pariatur praesentium quae, quasi quisquam quod
        tempore ut, veniam. Amet, ipsam?</p>
    <a href="#">
        <button class="btn btn-warning m-2">Узнать больше</button>
    </a>

    <img src="https://itproger.com/img/courses/1663833928.jpg" alt="картинка"
         class="img-thumbnail mt-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem consequuntur dolore
        doloribus facilis impedit in iste iusto labore pariatur praesentium quae, quasi quisquam quod
        tempore ut, veniam. Amet, ipsam?</p>
    <a href="#">

        <button class="btn btn-warning m-2">Узнать больше</button>
    </a>
{% endblock %}
