{% extends 'blog/base.html' %}

{% block title%}
   Delete News
{% endblock %}

{% block content %}
    <h1 class="mb-3">Delete this article: '{{ object.title }}'?</h1>
    <div class="alert alert-light text-black p-3">
        <form method="post" class="form-register auth">
            {% csrf_token %}
            <button class="btn btn-outline-danger" type="submit">Yes, delete</button>
            <a class="ms-2" href="{% url 'news-detail' object.id%}">Cancel deletion</a>
        </form>
    </div>

{% endblock%}

{% block aside_block%}

{% endblock %}